<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,td,th {border: black solid}
        table{border-collapse: collapse; margin: auto;}
    </style>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <h1>Hey <span th:text="${value}"></span>,</h1><h2>You have not been assigned any order yet. Please Sign-in later 
        Or You might have un-assigned the job</h2>

        <a href="/login">Take me to home</a>   

    
</body>
</html>