<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

</head>
<body>

    <h1>Welcome To Beiploit. Login supported - Driver and Staff</h1>

    <form action="/mainPage" method="post">
        <label>User Id</label>
        <input type="text" name="userId" , id="userId">
        <br>
        <label>Password</label>
        <input type="password" name="password", id="password">
        <br>
        <br>
        <input type="submit" value="Send">
    </form>

    <h4>UserId for Admin - scott And bolt. Password same as there name. <br>
        UserId for Driver - John, Vemi, Griffin. Password same as there name. <br>Note: If password has been reset - 12345.
    </h4>

    <h4>There are mainly 4 usescases used for my project and many custom/admin-curd functions(admin Page).
        <br><br>Use case1: Created a drivers Page using a Login system. <br>
    Use case2: Inside the drivers Page, I created another usecase Feature, where we can unlink the order. <br>
    Use case3: Managed to create Staff page with Login System, 
        just like they are the admin, they could perform and have little control over the drivers Database. <br>
        Use case4: Created a reset password feature where in one click it resets the passoword of the driver.</h4>

        

    
</body>
</html>