<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        table,td,th {border: black solid}
        table{border-collapse: collapse; margin: auto;}
    </style>
        <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

    <h1 class="heading">Reset Password</h1>

    <div th:insert="fragments/frags :: navbar" class="navbar">
    </div>

    



    <form action="/password" method="post">

        <label for="passwordReset">Delete Reset</label>
        <input type="text" name="passwordReset" id="passwordReset">

        <input type="submit" value="reset">
        <br><br>


    </form>

    <table>
        <tr>
            <th>Product_Assigned</th>
            <th>Driver_Assigned</th>
            <th>Driver_Assigned</th>
        </tr>
        <tr th:each="pass:${DriverPass}">
            <td th:text="${pass.id}"></td>
            <td th:text="${pass.passwword}"></td>

            <td th:text="${pass.driver.driverName}"></td>
            
  
        </tr>

    </table>







</body>
</html>